CORS=http://localhost:3000
GO_API_PORT=5000
GO_API_URL=http://localhost:${GO_API_PORT}
REACT_APP_URL=http://localhost:3000
DB_PORT=5420
DB_URL=localhost:${DB_PORT}
DB_NAME=planthub
DB_USER=postgres
DB_PSWD=kokos
WEATHER_API_KEY=db1c8036cb8ff62962107df3c0ea3171
GEOCODE_API_KEY=8304212f88754efebd94ab11c9689e19
GOOGLE_API_KEY=AIzaSyAlYWKCk8KICgd8Y6yyEsuyvynqx3VpO6I